body {
  font-family: 'Segoe UI', Arial, sans-serif;
  padding: 4rem 25rem 6rem 25rem;
  background-color: #f0f4ff;
  min-height: 100vh;
  margin: 0;

}

h1 {
  justify-content: center;
  text-align: center;
  margin-top: 2rem;
  font-size: 2.5rem;
  color: #222222;
  letter-spacing: 1px;
}

hr {
  border-top: 2px solid #51a2ff;
  margin: 2rem 0;
}

a {
  display: block;
  margin: 1rem 0;
  font-size: 1.2rem;
  text-decoration: none;
  color: #FCFAFA;
}

a:hover {
  color: #51a2ff;
  transition: color 0.2s;
}