button {
  padding: 0.5rem 1.2rem;
  background: #3392FF;
  color: #FCFAFA;
  border: none;
  border-radius: 6px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background 0.2s, box-shadow 0.2s;
}

button:hover{
  background: #0063CC;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.button-pop{
  animation: button-pop 0.2s;
}

.submit-btn{
  background: #3392FF;
}

.submit-btn:hover{
  background: #0063CC;
}
.show-answer-btn{
  background: #7853DF;
}
.show-answer-btn:hover{
  background: #5D30D9;
}

