.zadania-section h2{
  display:none;
  color: #222;
  margin-bottom: 1em;
  font-size: 1.5rem;
}

p.open-question,
div.open-question,
.choice-question {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 1.4rem;
}


.result {
  text-align: center;
  font-weight: bold;
}

.solution {
  text-align: center;
  font-size: 1.2rem;
}

.zadanie-heading {
  display: none;
  align-items: center;
  gap: 3rem; /* space between number and matura info */
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  margin-left: 10rem;
  color: #222;
}

/* Zadanie number bold (optional) */
.zadanie-heading .zadanie-number {
  font-weight: bold;
}

/* Matura info — not bold, slightly smaller, gray */
.zadanie-heading .matura-info {
  font-weight: normal;
  font-size: 1.2rem;
  color: #383838;
}